# Stop pacakages form running code aumomatically during install
ignore-scripts=true 

# Force npm to run a security audit on everey installation
audit=true 

# Fail installations or alerts if vulnerabilities meet high or critical threshols
adit-level=high

# Require a strict lockfile match to prevent silent, unrecorded updates
save-exact=false